<form [formGroup]="form">
    <label for="">Title</label>
    <input formControlName="title" type="text" class="form-control">
    <label for="">Description</label>
    <input formControlName="description" type="text" class="form-control">
    <label for="">Title</label>
    <select (change)="selValue($event)" formControlName="location" class="form-control" name="" id="">
        <option value=""></option>
        <option *ngFor="let loc of locations" value="{{loc._id}}">{{loc.site}}, {{loc.room}}</option>
    </select>
    <button (click)="onSubmit()" class="btn btn-secondary mt-3">Add</button>
</form>